@model NotiX.Models.Categorias

@{
    ViewData["Title"] = "Edit";
}

<form asp-action="Index" method="get">
    <button type="submit" class="btn btn-danger"> <i class="bi bi-arrow-left"></i> Voltar</button>
</form>
<h1 class="text-center">Editar Categoria</h1>

<hr />
<div class="d-flex justify-content-center">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Categoria" class="control-label"></label>
                <input asp-for="Categoria" class="form-control" />
                <span asp-validation-for="Categoria" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
