@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewData["Title"] = "Sobre Nós";

}
<br />
<div class="alinharTexto" style="text-align:center">
	<h2>Curso de Engenharia Informática</h2>
	<h2>Desenvolvimento Web</h2>
	<h3>2024/2025</h3>
</div>

<br />
<h4>Autores do Trabalho</h4>
<ul>
	<li><strong>Ricardo Marques</strong> – Nº 23306 </li>
	<li><strong>Tiago Carvalho</strong> – Nº 23024 </li>
</ul>
<br />
<h4>Tecnologias Utilizadas</h4>
<ul>
	<li>ASP.NET Core 8.0 </li>
	<li>Entity Framework Core</li>
	<li>ASP.NET Identity</li>
	<li>SQL Server / SQLite</li>
	<li>Bootstrap 5</li>
	<li>Bootstrap Icons</li>
	<li>jQuery</li>
	<li>Swagger</li>
</ul>

<br />
<h4>Contas Criadas Inicialmente</h4>
<p>
	<strong>Admin</strong>
	<br />
	username : <code> admin@mail.pt</code>
	<br />
	palavra-passe :<code> *aA1234567</code>
	<br />
	<br />
	<strong>Funcionario</strong>
	<br />
	username: <code>func@func.pt</code> 
	<br />
	palavra-passe: <code>*aA1234567</code>

</p>
<br />
<p>

	<h4>Código de terceiros:</h4>
	JWT  -> <a href="https://github.com/IPT-DW-2024-2025/tA-appFotos.git"> https://github.com/IPT-DW-2024-2025/tA-appFotos.git</a>

</p>

	