@model NotiX.Models.Fotos

@{
    ViewData["Title"] = "Create";
}
<div>
    <form asp-action="Index" method="get">
        <button type="submit" class="btn btn-danger"> <i class="bi bi-arrow-left"></i> Voltar</button>
    </form>

    <h1 class="text-center">Adicionar Foto</h1>

</div>


<hr />
<div class="d-flex justify-content-center">
    <div class="col-md-6">
        <form asp-action="Create" 
              method="post"
              enctype="multipart/form-data">
            

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                Adicionar Fotos
                <input type="file" name="Foto" accept=".png,.jpg,.jpeg" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
